@page "/game"

<span>Cards: @state.Hand.Count</span>
<span>@state.SelectedCard</span>

@if (!HasJoined)
{
    <div class="form-group">
        <label for="user-name">
            User:
        </label>
        <input id="user-name" @bind="userName" />
    </div>

    <button class="btn btn-primary" @onclick="JoinGame" disabled="@(!IsConnected)">Join Game</button>
}

@if (CanStartGame)
{
    <button class="btn btn-primary" @onclick="StartGame">Start Game</button>
}

@if (state.HasGameStarted)
{
    <button class="btn btn-danger" @onclick="DrawCard">Draw</button>
    <button class="btn btn-primary" @onclick="PlayCard" disabled="@(state.SelectedCard is null)">Play</button>

    @foreach (var card in state.Hand)
    {
        <PlayingCard Card="card" OnCardSelected="HandleSelectedCard" />
    }
}